<div class="homepage text-center">

  <img loading="lazy" width='300' height='300'class="m-auto" src="{{ 'noob.gif' | asset_img_url: 'large' }}"
    class="logo">
  <h1 class="font-serif">Welcome to Shopify Theme Development course!</h1>
  <p>{% render 'homepage-text' %}</p>
</div>