{% assign current_variant = product.selected_or_first_available_variant %}
{% if current_variant.featured_image != null %}
     {% assign featured_image = current_variant.featured_image | image_url: width: 100, height: 100 %}
{% else %}
     {% assign featured_image = product.featured_image | img_url: 'medium' %}
{% endif %}
<div class="homepage text-center">
     {%- if section.settings.title != blank -%}
          <h1 class="font-bold uppercase mt-5">{{ section.settings.title }}</h1>
     {%- endif -%}
     <div class="flex justify-center gap-5 flex-wrap w-full">
          {% for product in section.settings.featured_collection.products %}
               {%- render 'product-card', product: product -%}
          {% endfor %}
     </div>
</div>
{% schema %}
{
     "name": "Featured collection",
     "tag": "section",
     "class": "product-list",
     "settings": [
          {
               "type": "text",
               "id": "title",
               "default": "Featured collection",
               "label": "Title"
          },
          {
               "type": "collection",
               "id": "featured_collection",
               "label": "Collection"
          }
     ],
     "presets": [
          {
               "name": "featured collection",
               "settings": {}
          }
     ]
}
{% endschema %}
