{%- paginate collection.products by 6 -%}
     {%- for product in collection.products -%}
          <a href="{{ product.url }}" target="_blank" rel="noopener noreferrer">{{ product.title }}</a>
     {%- else -%}
          <p>no product available</p>
     {%- endfor -%}

     {{- paginate | default_pagination -}}
{%- endpaginate -%}
