{%- paginate collection.products by 6 -%}
     <div class="flex justify-center gap-5 flex-wrap w-full">
          {%- for product in collection.products -%}
               {%- render 'product-card', product: product -%}
          {%- else -%}
               <p>no product available</p>
          {%- endfor -%}
     </div>
     {{- paginate | default_pagination -}}
{%- endpaginate -%}
